@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,600,600i);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700&display=swap);












body,
input,
textarea,
.mbr-company .list-group-text,
.mbr-section-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price,
.mbr-section-title {
  font-family: 'Raleway', sans-serif;
}
.btn {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Raleway', sans-serif;
}
.btn-sm,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block,
.mbr-section-subtitle {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Raleway', sans-serif;
}
.mbr-author-desc {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Raleway', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #5aac98 !important;
}
.bg-success {
  background-color: #0abcbc !important;
}
.bg-info {
  background-color: #6bbadc !important;
}
.bg-warning {
  background-color: #ffcb4a !important;
}
.bg-danger {
  background-color: #2f69a9 !important;
}
.btn-primary {
  background-color: #5aac98;
  border-color: #5aac98;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #3e7b6c;
  border-color: #3e7b6c;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #3e7b6c !important;
  border-color: #3e7b6c !important;
}
.btn-secondary {
  background-color: #35c48e;
  border-color: #35c48e;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #258862;
  border-color: #258862;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #258862 !important;
  border-color: #258862 !important;
}
.btn-info {
  background-color: #6bbadc;
  border-color: #6bbadc;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #309ccb;
  border-color: #309ccb;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #309ccb !important;
  border-color: #309ccb !important;
}
.btn-success {
  background-color: #0abcbc;
  border-color: #0abcbc;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #067373;
  border-color: #067373;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #067373 !important;
  border-color: #067373 !important;
}
.btn-warning {
  background-color: #ffcb4a;
  border-color: #ffcb4a;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #fdb400;
  border-color: #fdb400;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #fdb400 !important;
  border-color: #fdb400 !important;
}
.btn-danger {
  background-color: #2f69a9;
  border-color: #2f69a9;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #1e446d;
  border-color: #1e446d;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1e446d !important;
  border-color: #1e446d !important;
}
.btn-primary-outline {
  background: none;
  border-color: #366a5e;
  color: #366a5e;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #5aac98;
  border-color: #5aac98;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #5aac98 !important;
  border-color: #5aac98 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #1f7454;
  color: #1f7454;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #35c48e;
  border-color: #35c48e;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #35c48e !important;
  border-color: #35c48e !important;
}
.btn-info-outline {
  background: none;
  border-color: #2b8cb6;
  color: #2b8cb6;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #6bbadc;
  border-color: #6bbadc;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #6bbadc !important;
  border-color: #6bbadc !important;
}
.btn-success-outline {
  background: none;
  border-color: #055b5b;
  color: #055b5b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #0abcbc;
  border-color: #0abcbc;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #0abcbc !important;
  border-color: #0abcbc !important;
}
.btn-warning-outline {
  background: none;
  border-color: #e3a200;
  color: #e3a200;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #ffcb4a;
  border-color: #ffcb4a;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ffcb4a !important;
  border-color: #ffcb4a !important;
}
.btn-danger-outline {
  background: none;
  border-color: #193759;
  color: #193759;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #2f69a9;
  border-color: #2f69a9;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #2f69a9 !important;
  border-color: #2f69a9 !important;
}
.text-primary {
  color: #5aac98 !important;
}
.text-success {
  color: #0abcbc !important;
}
.text-info {
  color: #6bbadc !important;
}
.text-warning {
  color: #ffcb4a !important;
}
.text-danger {
  color: #2f69a9 !important;
}
.alert-success {
  background-color: #0abcbc;
}
.alert-info {
  background-color: #6bbadc;
}
.alert-warning {
  background-color: #ffcb4a;
}
.alert-danger {
  background-color: #2f69a9;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #5aac98;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #5aac98;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #5aac98;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #5aac98;
}
.lead a,
.lead a:hover {
  color: #5aac98;
}
.lead blockquote {
  border-color: #5aac98;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #afd7cd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #50f6f6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #7da9db;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #000;
}
.scrollToTop_wraper {
  display: none;
}
/* DirectM */
a {
  color: #6bbadc;
}
a:hover {
  color: #333;
}
/*header1*/
.header1 .mbr-arrow a i {
  color: #ffffff;
}
.header1 .mbr-arrow a:hover i {
  color: #5aac98;
}
/*header2*/
.header1.header2 .mbr-arrow a i {
  color: #222222;
}
.header1.header2 .mbr-arrow a:hover i {
  color: #5aac98;
}
/*features1*/
.features1 .carousel-indicators li.active {
  border: 5px solid #5aac98;
}
/*features12*/
.features12 .card .mbr-iconfont,
.features14 .card .mbr-iconfont,
.features16 .card .mbr-iconfont {
  font-family: 'Raleway', sans-serif;
}
/*msg-box1*/
.msg-box1 ul li:before {
  background-color: #5aac98;
}
.msg-box1 .round-block {
  background: linear-gradient(45deg, #4c9784, #5aac98, #7cbdad);
}
/*tabs1*/
.tabs1 ul li a.active {
  border-bottom-color: #5aac98 !important;
}
.tabs1 .tab-list-wraper ul li:before {
  background-color: #5aac98;
}
.tabs1 .colorBG {
  background-color: #5aac98;
}
/*content*/
.content2 blockquote {
  border-left: 3px solid #5aac98;
}
.content4 p {
  border-bottom: 3px solid #5aac98;
  border-top: 3px solid #5aac98;
}
/*follow1*/
.follow1 .btn-social {
  color: #5aac98;
  border-color: #5aac98;
}
.follow1 .btn-social:hover {
  color: #7cbdad;
  background: rgba(90, 172, 152, 0.1);
  border-color: #7cbdad;
}
/*share1*/
.share1 .btn-social {
  color: #5aac98;
  border-color: #5aac98;
}
.share1 .btn-social:hover {
  color: #7cbdad;
  background: rgba(90, 172, 152, 0.1);
  border-color: #7cbdad;
}
/* Slider */
.mbr-slider .carousel-indicators .active {
  background-color: #5aac98;
}
/* Gallery */
.mbr-gallery-filter ul li {
  font-family: 'Raleway', sans-serif;
}
.mbr-gallery-filter li {
  color: #6bbadc;
}
.btn-empty:focus {
  color: #5aac98;
}
/* captions */
.mbr-figure-caption {
  background-color: #616161;
  color: #fff;
}
/* tabs1 */
.tabs1 ul li a {
  color: #6bbadc;
}
/*tabs3*/
.tabs3 .nav-tabs .nav-link.active {
  border: 5px solid #5aac98;
}
/* testimonials1*/
.testimonials1 .carousel-indicators li.active {
  border: 5px solid #5aac98;
}
.hamburger-icon {
  background-color: #5aac98 !important;
}
.hamburger-icon:before {
  background-color: #5aac98;
}
.hamburger-icon:after {
  background-color: #5aac98;
}
.form-control {
  background: #eef2f7;
  padding: 1rem;
}
.align-center {
  text-align: center;
}
.col,
.col-12,
.col-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
form a.btn {
  margin: 0;
}
.mbr-form.mx-auto {
  margin: 0 auto;
  float: none;
}
section.custom-form .container,
section.form .container {
  display: flex;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
#menu2-2 .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-2 .navbar-toggler {
  color: #74a3c7;
}
#menu2-2 .close-icon::before,
#menu2-2 .close-icon::after {
  background-color: #74a3c7;
}
#menu2-2 .link,
#menu2-2 .dropdown-item {
  color: #74a3c7;
  font-family: 'Libre Franklin', serif;
}
#menu2-2 .link {
  font-size: 0.85rem;
}
#menu2-2 .dropdown-item,
#menu2-2 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu2-2 .link:hover,
#menu2-2 .link:focus {
  color: #5aac98;
}
#menu2-2 .dropdown-item:hover::before,
#menu2-2 .dropdown-item:focus::before {
  background: #5aac98;
}
#menu2-2 .dropdown-item:hover,
#menu2-2 .dropdown-item:focus {
  color: #74a3c7;
}
#menu2-2 .link[aria-expanded="true"],
#menu2-2 .dropdown-menu {
  background: #000000;
}
#menu2-2 .nav-dropdown-sm .link:focus,
#menu2-2 .nav-dropdown-sm .link:hover,
#menu2-2 .nav-dropdown-sm .dropdown-item:focus,
#menu2-2 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu2-2 .navbar,
#menu2-2 .nav-dropdown-sm,
#menu2-2 .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-2 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu2-2 .bg-color.transparent .link {
  color: #74a3c7;
  transition: none;
}
#menu2-2 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-2 .bg-color.transparent.opened .link:hover,
#menu2-2 .bg-color.transparent.opened .link:focus {
  color: #5aac98;
}
#menu2-2 .link[aria-expanded="true"],
#menu2-2 .dropdown-item[aria-expanded="true"] {
  color: #5aac98!important;
}
#menu2-2 A {
  font-family: 'Raleway', sans-serif;
}
.cid-rRJFB1DJM7 {
  overflow-x: hidden !important;
}
.cid-rRJFB1DJM7,
.cid-rRJFB1DJM7 .scroll-wrapper {
  padding-top: 225px;
  padding-bottom: 225px;
}
.cid-rRJFB1DJM7 .mbr-section-title {
  color: #ffffff;
}
.cid-rRJFB1DJM7 .mbr-section-title span {
  color: #5aac98;
}
.cid-rRJFB1DJM7 .mbr-text {
  color: #efefef;
  letter-spacing: 5px;
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
.cid-rRJFB1DJM7 .scroll-wrapper {
  top: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  background-repeat: repeat;
  z-index: 0;
  -webkit-animation-duration: 30s !important;
  animation-duration: 30s;
  background-image: url("../../../assets/images/1341-copia-2000x1125.jpg");
}
.cid-rRJFB1DJM7 .scroll-wrapper.second {
  left: calc(100% - 1px);
}
.cid-rRJFB1DJM7 .mbr-overlay {
  z-index: 1;
}
.cid-rRJFB1DJM7 .block-content {
  z-index: 2;
}
@keyframes scroll-wrapper {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-webkit-keyframes scroll-wrapper {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-moz-keyframes scroll-wrapper {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@-o-keyframes scroll-wrapper {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
#content1-q P {
  font-size: 18px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #fffffd;
}
#content1-l P {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-size: 30px;
}
#gallery2-6 .mbr-gallery-title {
  font-size: 9px;
  font-family: 'Libre Franklin', serif;
}
#gallery2-6 .mbr-gallery-title B {
  font-size: 9px;
}
#content1-z P {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 18px;
  color: #424242;
}
.cid-rRJIrpBl8P {
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: url("../../../assets/images/mbr-1920x1920.jpeg");
}
.cid-rRJIrpBl8P .mbr-overlay {
  background: linear-gradient(90deg, #000000, #000000);
}
.cid-rRJIrpBl8P h2,
.cid-rRJIrpBl8P h3,
.cid-rRJIrpBl8P h4,
.cid-rRJIrpBl8P p {
  color: #ffffff;
}
.cid-rRJIrpBl8P .mbr-iconfont {
  font-size: 48px;
  padding-right: 1rem;
}
.cid-rRJIrpBl8P .text-block {
  border-bottom: 1px solid #767676;
}
.cid-rRJIrpBl8P .media-container-row {
  -webkit-align-items: center;
  align-items: center;
}
.cid-rRJIrpBl8P .form-control {
  box-shadow: none;
  padding: 1.07em 1.07em;
  background-color: #f5f5f5;
  border: 1px solid #e8e8e8;
  color: #656565;
  line-height: 1.43;
  min-height: 3.5em;
  border-radius: .25rem;
}
.cid-rRJIrpBl8P .form-control:focus,
.cid-rRJIrpBl8P .form-control:hover {
  border: 1px solid #e8e8e8;
  background-color: #f5f5f5;
}
.cid-rRJIrpBl8P .form-group {
  margin-bottom: 1rem;
}
.cid-rRJIrpBl8P input::-webkit-input-placeholder,
.cid-rRJIrpBl8P textarea::-webkit-input-placeholder {
  color: #656565;
}
.cid-rRJIrpBl8P input:-moz-placeholder,
.cid-rRJIrpBl8P textarea:-moz-placeholder {
  color: #656565;
}
.cid-rRJIrpBl8P .jq-selectbox li,
.cid-rRJIrpBl8P .jq-selectbox li {
  background-color: #f5f5f5;
  color: #000000;
}
.cid-rRJIrpBl8P .jq-selectbox li:hover,
.cid-rRJIrpBl8P .jq-selectbox li.selected {
  background-color: #f5f5f5;
  color: #000000;
}
.cid-rRJIrpBl8P .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #f5f5f5;
}
.cid-rRJIrpBl8P .jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: #f5f5f5;
}
.cid-rRJIrpBl8P .mbr-text {
  color: #767676;
}
.cid-rRJIrpBl8P a:not([href]):not([tabindex]) {
  color: #fff;
}
.cid-rRJIrpBl8P .multi-horizontal {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-rRJIrpBl8P .input-group-btn {
  display: block;
  text-align: center;
}
.cid-rRJIrpBl8P textarea.form-control {
  resize: none;
}
@media (max-width: 767px) {
  .cid-rRJIrpBl8P h2 {
    padding-top: 2rem;
  }
}
@media (min-width: 768px) {
  .cid-rRJIrpBl8P .container > .row > .col-md-6:first-child {
    padding-right: 30px;
  }
  .cid-rRJIrpBl8P .container > .row > .col-md-6:last-child {
    padding-left: 30px;
  }
}
@media (max-width: 991px) {
  .cid-rRJIrpBl8P .google-map {
    padding-bottom: 2rem;
  }
}
.cid-rRJIrpBl8P H3 {
  font-size: 14px;
  font-family: 'Libre Franklin', serif;
}
.cid-rRJIrpBl8P H2 {
  font-size: 36px;
  font-family: 'Libre Franklin', serif;
}
#footer4-i p {
  color: #000;
}
#footer4-i P {
  color: #8acdbc;
}






#content1-1g P {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
#menu2-11 .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-11 .navbar-toggler {
  color: #74a3c7;
}
#menu2-11 .close-icon::before,
#menu2-11 .close-icon::after {
  background-color: #74a3c7;
}
#menu2-11 .link,
#menu2-11 .dropdown-item {
  color: #74a3c7;
  font-family: 'Libre Franklin', serif;
}
#menu2-11 .link {
  font-size: 0.85rem;
}
#menu2-11 .dropdown-item,
#menu2-11 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu2-11 .link:hover,
#menu2-11 .link:focus {
  color: #5aac98;
}
#menu2-11 .dropdown-item:hover::before,
#menu2-11 .dropdown-item:focus::before {
  background: #5aac98;
}
#menu2-11 .dropdown-item:hover,
#menu2-11 .dropdown-item:focus {
  color: #74a3c7;
}
#menu2-11 .link[aria-expanded="true"],
#menu2-11 .dropdown-menu {
  background: #000000;
}
#menu2-11 .nav-dropdown-sm .link:focus,
#menu2-11 .nav-dropdown-sm .link:hover,
#menu2-11 .nav-dropdown-sm .dropdown-item:focus,
#menu2-11 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu2-11 .navbar,
#menu2-11 .nav-dropdown-sm,
#menu2-11 .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-11 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu2-11 .bg-color.transparent .link {
  color: #74a3c7;
  transition: none;
}
#menu2-11 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-11 .bg-color.transparent.opened .link:hover,
#menu2-11 .bg-color.transparent.opened .link:focus {
  color: #5aac98;
}
#menu2-11 .link[aria-expanded="true"],
#menu2-11 .dropdown-item[aria-expanded="true"] {
  color: #5aac98!important;
}
#menu2-11 A {
  font-family: 'Raleway', sans-serif;
}
#footer4-12 p {
  color: #000;
}
#footer4-12 P {
  color: #8acdbc;
}
#content8-1f H3 {
  font-size: 30px;
  font-family: 'Libre Franklin', serif;
}
#content8-1f P {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}
#content2-1h DIV {
  font-family: 'Raleway', sans-serif;
}




#content1-20 P {
  font-family: 'Libre Franklin', serif;
  font-size: 18px;
  text-align: center;
}
#menu2-1l .hide-buttons .nav-btn {
  display: none !important;
}
#menu2-1l .navbar-toggler {
  color: #74a3c7;
}
#menu2-1l .close-icon::before,
#menu2-1l .close-icon::after {
  background-color: #74a3c7;
}
#menu2-1l .link,
#menu2-1l .dropdown-item {
  color: #74a3c7;
  font-family: 'Libre Franklin', serif;
}
#menu2-1l .link {
  font-size: 0.85rem;
}
#menu2-1l .dropdown-item,
#menu2-1l .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu2-1l .link:hover,
#menu2-1l .link:focus {
  color: #5aac98;
}
#menu2-1l .dropdown-item:hover::before,
#menu2-1l .dropdown-item:focus::before {
  background: #5aac98;
}
#menu2-1l .dropdown-item:hover,
#menu2-1l .dropdown-item:focus {
  color: #74a3c7;
}
#menu2-1l .link[aria-expanded="true"],
#menu2-1l .dropdown-menu {
  background: #000000;
}
#menu2-1l .nav-dropdown-sm .link:focus,
#menu2-1l .nav-dropdown-sm .link:hover,
#menu2-1l .nav-dropdown-sm .dropdown-item:focus,
#menu2-1l .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu2-1l .navbar,
#menu2-1l .nav-dropdown-sm,
#menu2-1l .nav-dropdown-sm .link[aria-expanded="true"],
#menu2-1l .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu2-1l .bg-color.transparent .link {
  color: #74a3c7;
  transition: none;
}
#menu2-1l .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu2-1l .bg-color.transparent.opened .link:hover,
#menu2-1l .bg-color.transparent.opened .link:focus {
  color: #5aac98;
}
#menu2-1l .link[aria-expanded="true"],
#menu2-1l .dropdown-item[aria-expanded="true"] {
  color: #5aac98!important;
}
#menu2-1l A {
  font-family: 'Raleway', sans-serif;
}
#footer4-1m p {
  color: #000;
}
#footer4-1m P {
  color: #8acdbc;
}
.cid-rShkfEFJeN {
  padding-top: 75px;
  padding-bottom: 0px;
  background: #ffffff;
}
.cid-rShkfEFJeN .mbr-section-title {
  margin-bottom: 0;
  color: #4a4a4a;
}
.cid-rShkfEFJeN .mbr-iconfont {
  color: #ffffff;
  font-size: 1rem;
}
.cid-rShkfEFJeN .mbr-iconfont:before {
  padding: .5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-rShkfEFJeN .mbr-iconfont:hover {
  color: #5aac98;
}
.cid-rShkfEFJeN .image-wrap {
  position: relative;
}
.cid-rShkfEFJeN .image-wrap img {
  width: 100%;
  z-index: 0;
}
.cid-rShkfEFJeN .mbr-section-subtitle {
  line-height: 1.5;
  color: #4a4a4a;
  font-size: 16px;
}
.cid-rShkfEFJeN .card-wrap {
  margin-bottom: 3rem;
}
.cid-rShkfEFJeN .card-wrap:hover .social-media {
  transition-delay: 0.3s;
  opacity: 1;
}
.cid-rShkfEFJeN .card-wrap:hover .img-overlay {
  opacity: 1;
}
.cid-rShkfEFJeN .social-media {
  bottom: 5%;
  transition-delay: 0s;
  list-style-type: none;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.cid-rShkfEFJeN .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-rShkfEFJeN .social-media ul li {
  margin: .1rem;
  display: inline-block;
}
.cid-rShkfEFJeN .img-overlay {
  background: linear-gradient(transparent, #232323);
  pointer-events: none;
  position: absolute;
  height: 100.05%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition-delay: 0s;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.cid-rShkfEFJeN .builderCard .img-overlay {
  border-bottom-left-radius: 5rem;
}
.cid-rShkfEFJeN .mbr-role {
  color: #39937c;
  font-size: 14px;
}
.cid-rShkfEFJeN .mbr-text {
  color: #767676;
  font-size: 14px;
}
.cid-rShkfEFJeN .mbr-name {
  font-size: 20px;
}
.cid-rSogGecoWE {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rSogGecoWE .mbr-section-title {
  margin: 0;
}
.cid-rSogGecoWE .underline {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
.cid-rSogGecoWE .underline .line {
  width: 3rem;
  height: 2px;
  background: #232323;
  display: inline-block;
}
.cid-rSogGecoWE .media-row {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rSogGecoWE .team-item {
  transition: all .2s;
  margin: 2rem 0;
}
.cid-rSogGecoWE .team-item .item-image {
  position: relative !important;
}
.cid-rSogGecoWE .team-item .item-image img {
  width: 100%;
}
.cid-rSogGecoWE .team-item .item-image::after {
  background: #000000;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: .4s;
  pointer-events: none;
}
.cid-rSogGecoWE .team-item .item-name p {
  margin-bottom: 0;
}
.cid-rSogGecoWE .team-item .item-role p {
  margin-bottom: 0;
}
.cid-rSogGecoWE .team-item .item-caption {
  background: #efefef;
}
.cid-rSogGecoWE .item-social {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
}
.cid-rSogGecoWE .item-social li {
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.cid-rSogGecoWE .item-social li a span {
  border-radius: 50%;
  background-color: #767676;
  color: white;
  font-size: 14px;
  width: 3em;
  margin: 2px;
  height: 3em;
  line-height: 3em;
  display: block;
  padding: 0.1rem 0.9rem;
}
.cid-rSogGecoWE .item-social li a span:hover {
  background-color: #149dcc;
  color: #ffffff;
}
.cid-rSogGecoWE .team-item:hover .item-social > li.social-1 {
  transition-delay: .1s;
  opacity: 1;
  visibility: visible;
}
.cid-rSogGecoWE .team-item:hover .item-social > li.social-2 {
  transition-delay: .2s;
  opacity: 1;
  visibility: visible;
}
.cid-rSogGecoWE .team-item:hover .item-social > li.social-3 {
  transition-delay: .3s;
  opacity: 1;
  visibility: visible;
}
.cid-rSogGecoWE .team-item:hover .item-social > li.social-4 {
  transition-delay: .4s;
  opacity: 1;
  visibility: visible;
}
.cid-rSogGecoWE .team-item:hover .item-social > li.social-5 {
  transition-delay: .5s;
  opacity: 1;
  visibility: visible;
}
.cid-rSogGecoWE .team-item:hover .item-social > li.social-6 {
  transition-delay: .6s;
  opacity: 1;
  visibility: visible;
}
.cid-rSogGecoWE .team-item:hover .item-image::after {
  background: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}
.cid-rSogGecoWE .builderCard .item-image::after {
  border-bottom-left-radius: 5rem;
}
.cid-rSogGecoWE .mbr-section-subtitle {
  font-size: 18px;
}
.cid-rSogO6dA94 {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #8acdbc;
  background: linear-gradient(90deg, #8acdbc, #6bbadc);
}
.cid-rSogO6dA94 .mbr-section-title {
  margin-bottom: 0;
}
.cid-rSogO6dA94 .mbr-role {
  padding-bottom: .5rem;
}
.cid-rSogO6dA94 .mbr-iconfont {
  color: #767676;
  font-size: 1rem;
}
.cid-rSogO6dA94 .mbr-iconfont:hover {
  color: #149dcc;
}
.cid-rSogO6dA94 .image-wrap {
  position: relative;
  height: 100%;
}
.cid-rSogO6dA94 .image-wrap img {
  width: 100%;
  z-index: 0;
  object-fit: cover;
  object-position: center center;
  height: 100%;
}
.cid-rSogO6dA94 .card-wrap {
  margin-bottom: 3rem;
  overflow-y: hidden;
  height: 400px;
}
.cid-rSogO6dA94 .social-media {
  list-style-type: none;
  width: 100%;
  z-index: 1;
}
.cid-rSogO6dA94 .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-rSogO6dA94 .social-media ul li {
  margin-right: .8rem;
  display: inline-block;
}
.cid-rSogO6dA94 .card-bottom {
  background-color: #ffffff;
  position: absolute;
  left: 15px;
  bottom: -92px;
  padding: 0 .5rem;
  width: calc(100% - 30px);
  transition: bottom 0.2s ease-in;
  bottom: -48px;
}
.cid-rSogO6dA94 .card-bottom:hover {
  bottom: 0;
}
.cid-rSogM1Bxrc {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #fffffd;
}
.cid-rSogM1Bxrc .team-card .image-wrap {
  overflow: hidden;
}
.cid-rSogM1Bxrc .team-card .image-wrap img {
  transition: all .5s;
}
.cid-rSogM1Bxrc .team-card .image-wrap:hover img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.cid-rSogM1Bxrc .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-rSogM1Bxrc .team-card {
  margin-bottom: 2rem;
}
.cid-rSogM1Bxrc .card-wrap {
  background: #ffffff;
}
.cid-rSogM1Bxrc .card-wrap .image-wrap img {
  width: 100%;
}
.cid-rSogM1Bxrc .card-wrap .content-wrap {
  padding: 1.5rem;
}
.cid-rSogM1Bxrc .card-wrap .content-wrap .mbr-section-btn {
  padding-top: 1rem;
}
.cid-rSogM1Bxrc .card-wrap .content-wrap .mbr-section-btn .btn {
  margin: 0;
}
@media (max-width: 767px) {
  .cid-rSogM1Bxrc .team-card.last-card {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-rSogM1Bxrc .team-card.last-row-card {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .cid-rSogM1Bxrc .team-card:not(.first-row-card) {
    margin-bottom: 0;
  }
}
.cid-rSogM1Bxrc .card-text,
.cid-rSogM1Bxrc .mbr-section-btn {
  font-size: 12px;
}
.cid-rSogM1Bxrc .mbr-role {
  font-size: 16px;
}
.cid-rSogM1Bxrc .card-title {
  font-size: 22px;
}
.cid-rShtn2Bh1b {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #ffffff;
}
.cid-rShtn2Bh1b .mbr-section-title {
  margin-bottom: 0;
}
.cid-rShtn2Bh1b .mbr-iconfont {
  color: #ffffff;
  font-size: 1rem;
}
.cid-rShtn2Bh1b .mbr-iconfont:before {
  padding: .5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-rShtn2Bh1b .mbr-iconfont:hover {
  color: #5aac98;
}
.cid-rShtn2Bh1b .image-wrap {
  position: relative;
}
.cid-rShtn2Bh1b .image-wrap img {
  width: 100%;
  z-index: 0;
}
.cid-rShtn2Bh1b .mbr-section-subtitle {
  line-height: 1.5;
  color: #767676;
}
.cid-rShtn2Bh1b .card-wrap {
  margin-bottom: 3rem;
}
.cid-rShtn2Bh1b .card-wrap:hover .social-media {
  transition-delay: 0.3s;
  opacity: 1;
}
.cid-rShtn2Bh1b .card-wrap:hover .img-overlay {
  opacity: 1;
}
.cid-rShtn2Bh1b .social-media {
  bottom: 5%;
  transition-delay: 0s;
  list-style-type: none;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.cid-rShtn2Bh1b .social-media ul {
  margin: 0;
  padding: 0;
}
.cid-rShtn2Bh1b .social-media ul li {
  margin: .1rem;
  display: inline-block;
}
.cid-rShtn2Bh1b .img-overlay {
  background: linear-gradient(transparent, #000000);
  pointer-events: none;
  position: absolute;
  height: 100.05%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition-delay: 0s;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.cid-rShtn2Bh1b .builderCard .img-overlay {
  border-bottom-left-radius: 5rem;
}
.cid-rShtn2Bh1b .mbr-role {
  color: #39937c;
  font-size: 14px;
}
.cid-rShtn2Bh1b .mbr-text {
  color: #767676;
  font-size: 14px;
}
.cid-rShtn2Bh1b .mbr-name {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}
